.a1 {
  font-size: 40px;
  color: white;
  background-color: #ee2828;
}
.b1 {
  font-size: 40px;
  color: white;
  background-color: #2fee28;
}
.b2 {
  font-size: 40px;
  color: white;
  background-color: #e9ae0d;
}
